In [68]:
import os

appdata_dir = os.getenv('APPDATA')
conda_env_dir = os.getenv('CONDA_PREFIX')

# Construct the path to the "AppData" directory within the Conda environment
conda_appdata_dir = os.path.join(conda_env_dir, 'AppData')

print(f"User's 'AppData' directory: {appdata_dir}")
print(f"Conda environment 'AppData' directory: {conda_appdata_dir}")

User's 'AppData' directory: C:\Users\USSTPLPT07\AppData\Roaming
Conda environment 'AppData' directory: C:\Users\USSTPLPT07\anaconda3\envs\projectZero\AppData

In [69]:
import gspread

spreadsheetName = 'Copia de Control 2020 Test'


gc = gspread.oauth()
sh = gc.open(spreadsheetName)
print(sh.sheet1.get('A9:J49'))

[['ID', 'ALUMNO', 'Act', 'Pro', 'Act', 'Pro', 'Act', 'Pro', 'Bitacora', 'Promedio'], ['67ca0275', 'Alumno 272', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0276', 'Alumno 273', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0277', 'Alumno 274', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0278', 'Alumno 275', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0279', 'Alumno 276', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0344', 'Alumno 277', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0280', 'Alumno 278', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0345', 'Alumno 279', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['65605b64', 'Alumno 280', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0347', 'Alumno 281', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0346', 'Alumno 282', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['41ebb755', 'Alumno 283', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['15351a39', 'Alumno 284', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0282', 'Alumno 285', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0283', 'Alumno 286', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0285', 'Alumno 287', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0286', 'Alumno 288', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0287', 'Alumno 289', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0348', 'Alumno 290', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0288', 'Alumno 291', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0289', 'Alumno 292', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0290', 'Alumno 293', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0349', 'Alumno 294', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0291', 'Alumno 295', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0292', 'Alumno 296', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0293', 'Alumno 297', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0295', 'Alumno 298', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['de759858', 'Alumno 299', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0297', 'Alumno 300', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0298', 'Alumno 301', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0299', 'Alumno 302', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0300', 'Alumno 303', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['be3ab010', 'Alumno 304', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0301', 'Alumno 305', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0350', 'Alumno 306', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0302', 'Alumno 307', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0303', 'Alumno 308', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0351', 'Alumno 309', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0305', 'Alumno 310', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!'], ['67ca0306', 'Alumno 311', '0', '#DIV/0!', '0', '', '0', '', '0', '#DIV/0!']]

In [70]:
import pandas as pd

In [71]:
t= sh.sheet1.get('A9:J49')
t2= pd.DataFrame(t[1:], columns=t[0])

In [72]:
print(t2)

          ID      ALUMNO Act      Pro Act Pro Act Pro Bitacora Promedio
0   67ca0275  Alumno 272   0  #DIV/0!   0       0            0  #DIV/0!
1   67ca0276  Alumno 273   0  #DIV/0!   0       0            0  #DIV/0!
2   67ca0277  Alumno 274   0  #DIV/0!   0       0            0  #DIV/0!
3   67ca0278  Alumno 275   0  #DIV/0!   0       0            0  #DIV/0!
4   67ca0279  Alumno 276   0  #DIV/0!   0       0            0  #DIV/0!
5   67ca0344  Alumno 277   0  #DIV/0!   0       0            0  #DIV/0!
6   67ca0280  Alumno 278   0  #DIV/0!   0       0            0  #DIV/0!
7   67ca0345  Alumno 279   0  #DIV/0!   0       0            0  #DIV/0!
8   65605b64  Alumno 280   0  #DIV/0!   0       0            0  #DIV/0!
9   67ca0347  Alumno 281   0  #DIV/0!   0       0            0  #DIV/0!
10  67ca0346  Alumno 282   0  #DIV/0!   0       0            0  #DIV/0!
11  41ebb755  Alumno 283   0  #DIV/0!   0       0            0  #DIV/0!
12  15351a39  Alumno 284   0  #DIV/0!   0       0            0  #DIV/0!
13  67ca0282  Alumno 285   0  #DIV/0!   0       0            0  #DIV/0!
14  67ca0283  Alumno 286   0  #DIV/0!   0       0            0  #DIV/0!
15  67ca0285  Alumno 287   0  #DIV/0!   0       0            0  #DIV/0!
16  67ca0286  Alumno 288   0  #DIV/0!   0       0            0  #DIV/0!
17  67ca0287  Alumno 289   0  #DIV/0!   0       0            0  #DIV/0!
18  67ca0348  Alumno 290   0  #DIV/0!   0       0            0  #DIV/0!
19  67ca0288  Alumno 291   0  #DIV/0!   0       0            0  #DIV/0!
20  67ca0289  Alumno 292   0  #DIV/0!   0       0            0  #DIV/0!
21  67ca0290  Alumno 293   0  #DIV/0!   0       0            0  #DIV/0!
22  67ca0349  Alumno 294   0  #DIV/0!   0       0            0  #DIV/0!
23  67ca0291  Alumno 295   0  #DIV/0!   0       0            0  #DIV/0!
24  67ca0292  Alumno 296   0  #DIV/0!   0       0            0  #DIV/0!
25  67ca0293  Alumno 297   0  #DIV/0!   0       0            0  #DIV/0!
26  67ca0295  Alumno 298   0  #DIV/0!   0       0            0  #DIV/0!
27  de759858  Alumno 299   0  #DIV/0!   0       0            0  #DIV/0!
28  67ca0297  Alumno 300   0  #DIV/0!   0       0            0  #DIV/0!
29  67ca0298  Alumno 301   0  #DIV/0!   0       0            0  #DIV/0!
30  67ca0299  Alumno 302   0  #DIV/0!   0       0            0  #DIV/0!
31  67ca0300  Alumno 303   0  #DIV/0!   0       0            0  #DIV/0!
32  be3ab010  Alumno 304   0  #DIV/0!   0       0            0  #DIV/0!
33  67ca0301  Alumno 305   0  #DIV/0!   0       0            0  #DIV/0!
34  67ca0350  Alumno 306   0  #DIV/0!   0       0            0  #DIV/0!
35  67ca0302  Alumno 307   0  #DIV/0!   0       0            0  #DIV/0!
36  67ca0303  Alumno 308   0  #DIV/0!   0       0            0  #DIV/0!
37  67ca0351  Alumno 309   0  #DIV/0!   0       0            0  #DIV/0!
38  67ca0305  Alumno 310   0  #DIV/0!   0       0            0  #DIV/0!
39  67ca0306  Alumno 311   0  #DIV/0!   0       0            0  #DIV/0!

In [73]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        40 non-null     object
 1   ALUMNO    40 non-null     object
 2   Act       40 non-null     object
 3   Pro       40 non-null     object
 4   Act       40 non-null     object
 5   Pro       40 non-null     object
 6   Act       40 non-null     object
 7   Pro       40 non-null     object
 8   Bitacora  40 non-null     object
 9   Promedio  40 non-null     object
dtypes: object(10)
memory usage: 3.2+ KB

In [74]:
t2.describe()

              ID      ALUMNO Act      Pro Act Pro Act Pro Bitacora Promedio
count         40          40  40       40  40  40  40  40       40       40
unique        40          40   1        1   1   1   1   1        1        1
top     67ca0275  Alumno 272   0  #DIV/0!   0       0            0  #DIV/0!
freq           1           1  40       40  40  40  40  40       40       40

In [75]:
materias= sh.worksheet('Materias')
materias = materias.get_all_values()
materias= pd.DataFrame(materias[1:], columns=materias[0])

print(materias)

          ID Clave materia                              Materia Semestre
0   67pa1001            27                            Geografía        5
1   67pa0000            28  Estructura Socioeconómica de México        5
2   67pa0001            32                  Calculo diferencial        5
3   67pa0002            33                     Administración I        5
4   67pa0003            35        Ciencias de la Comunicación I        5
5   67pa0004            34               Ciencias de la Salud I        5
6   67pa0005   616CFT312S5              Sistemas de Información        5
7   67pa0006   616CFT312S6                         Programación        5
8   67pa0007            15                      Matemáticas III        3
9   67pa0008            16                           Biología I        3
10  67pa0009            17                             Física I        3
11  67pa0010            18                 Historia de México I        3
12  67pa0011            19                         Literatura I        3
13  67pa0012            20                           Inglés III        3
14  67pa0013   616CFT312S1         Gestión de archivos de texto        3
15  67pa0014   616CFT312S2             Hoja de cálculo aplicado        3
16  67pa0015             1                        Matemáticas I        1
17  93447724             2                            Química I        1
18  67pa0017             3                              Ética I        1
19  67pa0018             4      Metodología de la Investigación        1
20  67pa0019             5     Taller de Lectura y Redacción  I        1
21  67pa0020             6                             Inglés I        1
22  67pa0021             7                        Informática I        1
23  49bece3c            11                             Ingles V        5

In [76]:
materias.shape

(24, 4)

In [77]:
alumnos= sh.worksheet('Alumno')
alumnos = alumnos.get_all_values()
alumnos= pd.DataFrame(alumnos[1:], columns=alumnos[0])

print(alumnos)

           ID       Matrícula      ALUMNO Grupo  \
0    67ca1343  18401070160034  Alumno 001  1801
1    67a411c9  18401070160044  Alumno 002  1801
2    67ca0001  18401070160055  Alumno 003  1801
3    67ca0002  19401070160002  Alumno 004  1801
4    67ca0003  18401070160060  Alumno 005  1801
..        ...             ...         ...   ...
343  67ca0339  20401070160131  Alumno 344  2003
344  67ca0340  20401070160132  Alumno 345  2003
345  67ca0341  20401070160133  Alumno 346  2003
346  67ca0342  20401070160134  Alumno 347  2003
347  aea411c8  20401070160135  Alumno 348  2003

                                                  Foto      Correo  \
0                                                       correro001
1                                                       correro002
2                                                       correro003
3                                                       correro004
4                                                       correro005
..                                                 ...         ...
343                                                     correro344
344  Alumno_Images/67ca0340.Foto.184823._Track_ed12...  correro345
345             Alumno_Images/67ca0341.Foto.184813.jpg  correro346
346                                                     correro347
347                                                     correro348

    Correo Personal    Telefono Compania Tel Computadora Internet COVIT-19  \
0     vorreo.per001  4000004400     Movistar          No       No
1     vorreo.per002  4000004401
2     vorreo.per003  4000004402       telcel          NO       NO
3     vorreo.per004  4000004403                       no       si
4     vorreo.per005  4000004404       telcel          SI       SI
..              ...         ...          ...         ...      ...      ...
343   vorreo.per344  4000004743
344   vorreo.per345  4000004744
345   vorreo.per346  4000004745
346   vorreo.per347  4000004746
347   vorreo.per348  4000004747

    Padecimientos  Domicilio Ubicación O General                CURP NSS  \
0                  Calle 001                      BEVI031215MASLLNA6
1                  Calle 002                      CESJ021112MASDNNA4
2                  Calle 003                      CERM020306MASRMRA3
3                  Calle 004                      COEC020418HASLSHA1
4                  Calle 005                      LILM030609HASRPGA2
..            ...        ...       ...       ...                 ...  ..
343                Calle 344                   ,  SAMF051029MZSBRRA0
344                Calle 345                   ,  TALM050325MASRPLA4
345                Calle 346                   ,  VALO050604MASLPDA8
346                Calle 347                   ,  VILA040301MASCPLA1
347                Calle 348                      ZUGB030511HDFLRRA3

    Activo
0     TRUE
1     TRUE
2     TRUE
3     TRUE
4     TRUE
..     ...
343   TRUE
344   TRUE
345   TRUE
346   TRUE
347  FALSE

[348 rows x 19 columns]

In [78]:
calificaciones= sh.worksheet('Calificación')
calificaciones = calificaciones.get_all_values()
calificaciones= pd.DataFrame(calificaciones[1:], columns=calificaciones[0])

print(calificaciones)

            ID    Alumno   Materia Parcial Actividad Calificación Observación  \
0       815385  41ebb755  49bece3c   Par 1  0f70800c           90
1      9982091  41ebb755  67pa1001   Par 1  f5f22961           90
2      5992904  41ebb755  93447724   Par 1  37a6254f          100
3      5947445  67ca0275  93447724   Par 1  0f70800c          100
4      9632062  67ca0275  93447724   Par 1  f5f22961          100
...        ...       ...       ...     ...       ...          ...         ...
17874  9740853  67ca0067  fc41fa26   Par 3  ced818bb           67
17875   959296  67ca0067  0f23d92f   Par 3  344669df           67
17876  6103214  67ca0067  d24866fe   Par 3  ee11f680           67
17877  1059455  67ca0067  3b2acde6   Par 3  b3c0b988           67
17878  3282609  67ca0067  3c5cde2a   Par 3  c809b9a4           67

           Fecha
0       25 sept.
1         02 oct
2         09 oct
3      25/9/2020
4         02 oct
...          ...
17874     09 dic
17875     09 dic
17876     09 dic
17877     09 dic
17878     09 dic

[17879 rows x 8 columns]

In [79]:
tabla = pd.merge(materias,calificaciones, how="inner", left_on='ID', right_on='Materia')
print(tabla)

         ID_x Clave materia  Materia_x Semestre     ID_y    Alumno Materia_y  \
0    67pa1001            27  Geografía        5  9982091  41ebb755  67pa1001
1    93447724             2  Química I        1  5992904  41ebb755  93447724
2    93447724             2  Química I        1  5947445  67ca0275  93447724
3    93447724             2  Química I        1  9632062  67ca0275  93447724
4    93447724             2  Química I        1  2971958  67ca0275  93447724
..        ...           ...        ...      ...      ...       ...       ...
98   93447724             2  Química I        1  5174191  67ca0306  93447724
99   93447724             2  Química I        1  4252714  67ca0299  93447724
100  93447724             2  Química I        1  1507196  15351a39  93447724
101  93447724             2  Química I        1  1617972  67ca0351  93447724
102  49bece3c            11   Ingles V        5   815385  41ebb755  49bece3c

    Parcial Actividad Calificación Observación      Fecha
0     Par 1  f5f22961           90                 02 oct
1     Par 1  37a6254f          100                 09 oct
2     Par 1  0f70800c          100              25/9/2020
3     Par 1  f5f22961          100                 02 oct
4     Par 1  37a6254f          100                 09 oct
..      ...       ...          ...         ...        ...
98    Par 3  307f7906           86                 09 dic
99    Par 3  307f7906           80                 09 dic
100   Par 3  307f7906          100                 09 dic
101   Par 3  307f7906           65                 09 dic
102   Par 1  0f70800c           90               25 sept.

[103 rows x 12 columns]